
/* reset */
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
a {
        text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
        margin: 0;
}
/* header */
.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}
.header {
        border-bottom: #e7e9fc;
}
.header-container {
        display: flex;
        align-items: center;
}
.nav {
        display: flex;
        align-items: center;
}
.nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
} 
.address-list {
        display: flex;
        align-items: center; 
        gap: 149px;
}
.header-logo {
        padding: 24px 0;
        margin-right: 76px;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-web-header {
    color: #2E2F42;
}
.logo-web-footer {
color: #F4F4FD;
}

.nav-list-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
}
.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
        color: #404bbf;
}
.address {
        font-style: normal;
        margin-left: auto;
}
.address-list-link {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
}
.address-list-link:hover,
.address-list-link:focus {
color: #404bbf;
}

/* main */
.main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        gap: 48px;
}
.section-heading {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
}
.main-page {
        background: #2E2F42;
}
.heading {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        margin: 0 auto;
}
.btn {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: white;
            background-color: #4D5AE5;
            cursor: pointer;
        border-radius: 4px;
                width: 169px;
                height: 56px;
                text-align: center;
                margin: 0;
}
.btn:hover,
.btn:focus {
background-color: #404BBF;
}
.strategy-list-items {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.strategy-list-text {
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
}
.team-section {
        background-color: #F4F4FD;
}
.team-names {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.team-list-items {
background-color: #FFFFFF;
}
.portfolio-list-heading {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
}
.portfolio-list-text {
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
}
.footer {
        background-color: #2e2f42;
}
.footer-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}